scikit-learn==1.2.2
pandas
openpyxl # Excel file compatibility.
xarray
dask[distributed]
bokeh<3
netcdf4
matplotlib
flox # Makes xarray groupby (and resample) faster.
timezonefinder
pycaret
lightgbm==3.3.5
bottleneck # required for some xarray functionality
skl2onnx
onnxruntime
onnxmltools
